
    /*Splash and Plan Trip pages */
  .containers{
     width:100%;

  .splash, .plan {
       height:100vh;
     }

  .splash {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3DCollage.png");
/*     background-image: url("images/3DCollage.png");    */
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color:white;
      }

  .title {
    margin-top:25%;
    text-align: center;
    font-family: 'Sonsie One', cursive;
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 15vh;
   }
  .motto {
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
    font-size:8vh;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    }

    /* INPUT PAGE */
  .container {
    width: 100%;
  }

  .plan {
    margin: 0 auto;
    text-align: center;
    color:black;
    background-color:transparent;
    position: absolute;
  }

  .subtitle {
    text-align: center;
  }

  p {
    font-size: 20vh;
    font-family: Helvetica, sans-serif;
    color: white;
 }

  ul.restaurants {
    list-style-type: none;
  }

  .single {
    border: 2px solid black;
    margin: 2%;
    padding: 5%;
    border-radius:3%;
  }

  .website {
    height: 30px;
  }
  .wrapper {
    max-height: 100vh;
  }

  .wrapper {
    max-height: 100vh;
  }
}

 .addRest {
  margin-left: -1%;
  margin-right:5%;
}

  .list-by-state {
    margin-left:2%;
    color: black;
    width:15%;
    height: 100%;
  }

  /* REST.HTML */

  .list-container{
    margin-top:2%;
    width:100%;
    font-size: 14px;
  }
  /* REST.DETAIL.HTML */
  .detailBox {
    width: 80%;
    margin: 0 auto;
    height: 800px;
  }

  /* ANIMATION CSS */
