
/*Splash and Plan Trip pages */
.containers{
  width:100%;

  .splash, .plan {
    height:100vh;

  }

  .splash {
    background-image: url("images/3DCollage.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

 }
  .plan {
    margin: 0 auto;
    text-align: center;
    color:black;
    background-color:transparent;
    position: absolute;
  }

  p {
    font-size: 20 vh;
    font-family: Helvetica, sans-serif;
    color: white;
  }

  .wrapper {
     max-height: 100vh;
  }

.wrapper {
   max-height: 100vh;
}

}

/* map*/
#map-canvas{
  width:80%;
  height:500px;
  float:right;
}
