.angular-google-map-container {
  height:800px; /*cannot be % */
}
/*Splash and Plan Trip pages */
.containers{
  width:100%;

  .splash, .plan {
    height:100vh;

  }

  .splash {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/3DCollage.png");
/*     background-image: url("images/3DCollage.png");
 */    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color:white;
 }

  .title {
    font-family: 'Sonsie One', cursive;
    font-size: 15vh;
  }
  .motto {
    font-size:8vh;
    color: white;
    font-family: 'Poiret One', cursive;
  }

  .plan {
    margin: 0 auto;
    text-align: center;
    color:black;
    background-color:transparent;
    position: absolute;
  }

  p {
    font-size: 20vh;
    font-family: Helvetica, sans-serif;
    color: white;
  }

  .wrapper {
     max-height: 100vh;
  }

.wrapper {
   max-height: 100vh;
}
}

/* map */
.angular-google-map-container {
  width:80%;
  height:800px;
  margin-right:2%;
  float:right;
}

.list-by-state {
  margin-left:2%;
  color: black;
  width:15%;
  height: 100%;
}
