
<div class="containers">
    <div class="splash"></div>
    <!--Plan trip form-->

    <div class="plan col-xs-12">
      <h1 class="words">Plan Your Trip</h1>
      <br>
      <form>
    
        <div class="form-group col-xs-6">
          <label for="from">From</label>
          <input type="start" class="form-control" id="startingPoint" placeholder="Enter City and State">
        </div>
        <div class="form-group col-xs-6">
          <label for="max">Maximum distance from route</label>
            <select class="form-control">
              <option></option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
        </div>
        <div class="form-group col-xs-6">
          <label for="to">To</label>
          <input type="end" class="form-control" id="endingPoint" placeholder="Enter City and State">
        </div>
        <div class="col-xs-6">
          <label for="exclude" class="exclude">Exclude from start/end miles</label>
          <select class="form-control">
            <option></option>
            <option>N/A</option>
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
          </select>
        </div>
        <div class="col-xs-12"></div>
        <div class="form-group col-xs-3 col-xs-offset-5">
          <button type="submit" class="btn btn-default">Plan Trip</button>
        </div>
      </form>
    </div>

    </div>
