<div class="left">
    <div class="whiteBox">
        <img src="http://fillmurray.com/200/200" alt="">
        <h1 class="logo">Charlestonworks</h1>
        <h2 class="slogan">Connecting You to Charleston's Thriving Tech Economy</h2>
        <div class="views">
            <button class="gridView">grid view</button>
            <button class="mapView">map view</button>
        </div>
    </div>
    <div class="blackBox">
        <h3 class="filters">filters</h3>
        <a href="" class="software">software</a>
        <a href="" class="hiring">hiring</a>
        <a href="" class="about">about this site</a>
    </div>
    <div class="footer">
        <p>copyright blah blah</p>
    </div>
</div>

<div class="right">
    <h1 class="restaurantDetail">{{restCtrl.singleRestaurant.name}}</h1>
    <img ng-src="{{restCtrl.singleRestaurant.logo}}" alt="restCtrl.singleRestaurant.name">
    <a class="twitter" target= "_blank"       href="{{restCtrl.singleRestaurant.twitter}}">{{restCtrl.singleRestaurant.twitter}}</a>
    <h3 class="infoDetail">{{restCtrl.singleRestaurant.address1}} </h3>
    <h3 class="infoDetail">{{restCtrl.singleRestaurant.address2}} </h3>
    <h3 class="infoDetail">{{restCtrl.singleRestaurant.city}} </h3>
    <h3 class="infoDetail">{{restCtrl.singleRestaurant.phone}} </h3>
    <a class="website" target= "_blank"       href="{{compCtrl.singleRestaurant.website}}">{{restCtrl.singleRestaurant.website}}</a>
    <p class="infoDescription">{{compCtrl.singleCompany.descrLong}} </p>
    <a class="website" target= "_blank" href="{{restCtrl.singleRestaurant.careersSite}}">{{restCtrl.singleRestaurant.careersSite}}</a>
</div>
