<div class="wrapper">
   <div class="right">
       <div class="container-list">
           <div class="box" ng-repeat="company in compCtrl.companies | orderBy: 'name'">
               <div class="boxTop">
                   <div class="boxLogo">
                       <img class="companyLogo" ng-src="{{company.logo}}" alt="{{company.name}}">
                   </div>
                   <div class="boxHiring">
                       <img class="hiring" ng-src="{{company.hiring}}">
                   </div>
               </div>
               <div class="boxBottom">

                   <div ng-controller="FavoriteController as favorite">
                      <button class="favorite" ng-click="favorite.addFavoriteCompany(company)">
                          <div class="stars" data-stars="1">
                              <svg height="25" width="23" class="star rating" data-rating="1">
                                <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;"/>
                              </svg>
                          </div>
                      </button>
                   </div>

                   <span class="companyName">{{company.name}}</span>

                   <a ng-click="compCtrl.changeBackground(company)"class="more" href="#/details/{{company._id}}">info.</a><a href="">

               </div>
           </div>
       </div>
   </div>
</div>
