
<h2><input type="text" ng-model="restCtrl.singleItem.name"></h2>
<p><input type="text" ng-model="restCtrl.singleItem.villian"></p>

<button ng-click="restCtrl.editItem(restCtrl.singleItem)">Submit Edit</button>

{{ $index }} - is index

<!-- mainCtrl -->

</div>





<div class="detailContainer row">
  <div class="restDetail col-md-6 col-md-2-offset" ng-controller="restaurant in restCtrl.restaurants">


    <h1 class="restaurantDetail">{{restaurant.name}}</h1>
    <h3 class="restAdd">{{restaurant.address}} </h3>
    <h3 class="restCity">{{restaurant.city}} </h3>
    <h3 class="restState">{{restaurant.state}}</h3>
    <h3 class="restZip">{{restaurant.zip}}</h3>
    <h3 class="restPhone">{{restaurant.phone}} </h3>
    <a class="website" target= "_blank"  href="{{restaurant.website}}">{{restaurant.website}}</a>
    <div class="form-group">
    <button ng-click="rest.deleteRestuarant()">Delete</button>
      {{restCtrl.singleItem | json }}
  </div>
</div>
